/*Vamos a quitar los estilos por defecto:*/
*,
*::before,
*::after
{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/*Aquí vamos a empezar a hacer las etiquetas*/
main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px; /*Se suele usar en objetos 3D, aquí era para la línea*/
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

section h1 {
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
}

.no-parallax {
    background-color: #EF6C00;
    z-index: 999;
}

.parallax h1{
    width: 100%;
    font-size: 2rem;
}

.parallax::after{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -2;
}

.bg::after{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("./assets/lol.jpeg");
    background-size: cover;
}

